h1 {
  color: rgb(7, 40, 70);
  /* color: white; */
  text-align: center;
  font-family: courier new;
  /* color: white; */
}

#currency {
  border: none;
  border-top: #65fda4 solid 5px;
  width: 150px;
  height: 50px;
  border-radius: 7px;
}

/* .styled-select option{} */

#currency:hover {
  border-top: #488a99 solid 5px;
}

input[type="text"] {
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  border: none;
  /* border-top: 4px solid #eceb92;
  border-top: 5px solid #488a99; */
  border-top: solid 5px #488a99;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"]::placeholder {
  color: rgb(7, 40, 70);
  opacity: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

input:focus::placeholder {
  color: transparent;
}

.submitButton,
button {
  color: rgb(7, 40, 70);
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;
  /* background-color: #eceb92; */
  /* background-color: #65fda4; */
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.submitButton:hover,
button:hover {
  /* background-color: #488a99; */
  border-bottom: solid 5px #488a99;
  /* background-color: #ecc06f; */
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(0, 0, 0);
  background-image: repeating-linear-gradient(
    45deg,
    rgb(87, 52, 28),
    rgb(8, 8, 8)
  );
  border-radius: 7%;
}

.div0 {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* gap: 10px; */
}

.div1 {
  /* grid-column: 1 / 5;
  grid-row: 1; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(
    45deg,
    rgb(110, 253, 193),
    rgb(110, 110, 253),
    rgb(233, 186, 186)
  );
}

.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.div2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
  padding: 10px;
  column-gap: 10px;
  /* grid-column: 4 / 5;
  grid-row: 2 / 56; */
  background-color: rgb(6, 40, 51);
  background-color: transparent;
  border-radius: 7px;
}

.div3 {
  /* grid-column: 1/5;
  grid-row: 2 / 56; */
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  color: black;
}
